<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
</head>
<body>
<wicket:extend>
    <h3>Locations</h3>
    <br/>
    <wicket:enclosure child="locations">
    <table>
        <tr><th>ID</th><th>Name</th></tr>
              <span wicket:id="locations">
                  <tr>
                      <td><span wicket:id="id"></span></td>
                      <td><span wicket:id="name"></span></td>
                  </tr>
              </span>
    </table>
    </wicket:enclosure>

    <div wicket:id="noLocationLabel"></div>
    <div style="float: right;">
        <a href="#" wicket:id="addLocationPageLink">Add new location</a>
    </div>
</wicket:extend>

</body>
</html>